[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
myp = "*"
pylint = "*"
pytest = "*"
flake8 = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
twine = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.8"
